page-locais {
    ion-navbar {
        position: relative;
        text-align: center;
        }

    .tituloBarra {
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
    }
    
    .subtituloBarra {
        font-size: 1.0em;
        width: 100%;
    }

}
